
<h2>message between <br> <%= @thing.user.name %> & <%= @thing.messages.first.user.name %> regarding the <%= @thing.act %>: <%= @thing.name %></h2>
<br>
<% @thing.messages.each do |m| %>
<!-- later replace the name with a profile picture? diff styling for which user -->
  <h3><%= @thing.messages.first.user.name  %> - <%= m.message %></h3><h6> - <%= m.created_at%></h6>
  <br>
<% end %>
<br>

<br><br>
<h1>conversation</h1>
<h3><%= @message.user.name %> - <%= @thing.user.name %> - <%= @thing.act %> - <%= @thing.thing_type %> - <%= @thing.name %></h3>
<% @thread.each do |m| %>
  <%= m.message %> - <%= m.user.name %> id: <%= m.user.id %>- <%= m.created_at -%>
  <br>
<% end %>

<%= form_for @reply do |f| %>
<%= f.hidden_field :thing_id, :value => "#{@thing.id}" %>
<%= f.label "#{@thing.id}" %>

<%= f.label :message %>
<%= f.text_area :message %>
<%= f.submit %>

<% end %>

<br><br><br><br>
