
<div id="listings">
  <div id="listingNeeds">
    <h1>people in need</h1>
    <ul>
      <% @things.each do |t| %>
        <% if t.user != @current_user && t.act == 'need'%>
        <li>
          <%= link_to thing_path(t.id) do %>
          <div id="individualListing">
            <div id="individualListingImage">
              <% if t.image.present? %>
                <%= cl_image_tag t.image %>
                <% else %>
                <%= cl_image_tag t.user.image %>
              <% end %>
            </div>
            <div id="individualListingText"><ul><li>help with: <%= t.thing_type %></li><li><%= t.name %></li><li>for - <%= t.user.name %></li></ul></div>
          </div>
          <% end %>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div id="listingOffers">
  <h1>on offer</h1>
  <ul>
    <% @things.each do |t| %>
      <% if t.user != @current_user && t.act == 'offer' %>
      <li>
        <%= link_to thing_path(t.id) do %>
        <div id="individualListing">
        <div id="individualListingImage"><%= cl_image_tag t.image %></div>
        <div id="individualListingText"><ul><li>offering: <%= t.thing_type %></li><li><%= t.name %></li><li>for-<%= t.user.name %></li></ul></div>
      </div>
      <% end %>
      </li>
      <% end %>
    <% end %>
  </ul>
  </div>
</div>
