<h2>need an item</h2>
<%= form_for @thing, :html => {:multipart => true}  do |f| %>

<%# act = 0 ('need'), thing_type = 0 ('item') %>
<%= f.hidden_field :act, :value => 'need' %>
<%= f.hidden_field :things_type, :value => 'item' %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :description %>
<%= f.text_area :description %>

<%# f.label :urgency %>
<%# f.select :urgency, Thing.urgencies.keys %>
<!-- <br> -->
<%= f.label :location %>
<%= f.text_field :location, value: "#{@current_user.location}" %>

<%= f.label :image %>
<%= f.cl_image_upload :image %>

<br>
<%= f.submit %>
<% end %>
