<h2><%= "#{@thing.act} - #{@thing.name}" %></h2>
<h3>added by <%= @thing.user.name %></h3>

<p>
  <%= @thing.name %> <br>
  Quantity - <%= @thing.quantity %> <br>
  <%= @thing.act %>
</p>
<p>
  Location - <%= @thing.location %>
</p>

<% if @thing.image.present? %>
  <%= image_tag @thing.image %>
<% end %>
<br>

<%# link_to 'message user', new_message_path %>
<h4>Message <%= @thing.user.name %></h4>
<%= render partial: 'messages/form' %>

<br>
<br>

<% if @thing.user_id == @current_user.id %>
  <%= link_to 'delete thing', thing_path( @thing.id ), method: 'delete' %>
  <%= link_to 'edit thing', edit_thing_path( @thing.id ) %>
<% end %>
