<div id="thingShow">

<div id="thingShowInformation">
<div id="thingShowInformationText"><h2><%= "#{@thing.act} #{@thing.name} - #{@thing.user.name}" %></h2>

<% if @thing.image.present? %>
  <%= cl_image_tag (@thing.image) %>
   <br>
<% end %>
<%= @thing.description %>
</div>

<div id="thingMap">
<%= render partial: 'single_map' %>
</div>
</div>

<% if @thing.user_id == @current_user.id %>
  <div id="myListingMessages">
    <% if @thing.messages.present? %>
      <h3>enquiries:</h3>
      <% u = nil %>
      <% @thing_messages_incoming.each do |m| %>
        <% if u != m.sender.id %>
          <%= link_to message_path(m.id) do %>
          <div id="listingMessage"><%= m.message %> - <%= m.sender.name %></div>
          <% end %>
        <% end %> <!-- end the if u = m.sender.id -->
        <% u = m.sender.id %>
      <% end %> <!-- end @thing.message.each -->
      <% else %>
      <h3>No Messages.</h3>
    <% end %> <!-- end if present? -->
    <div id="thingButtons">
      <%= link_to thing_path( @thing.id ), method: 'delete' do %>
        <div id="divButton">delete listing</div>
      <% end %>
      <%= link_to edit_thing_path( @thing.id ) do %>
      <div id="divButton">edit listing</div>
      <% end %>
    </div>
  </div>
  <% else %>

  <div id="thingMessageForm">
  <%= form_for @message do |f| %>
  <%= f.hidden_field :recipient_id, value: @thing.user.id %>
  <%= f.hidden_field :thing_id, value: @thing.id %>
  <%= f.label "enquire with #{@thing.user.name}" %>
  <br>
  <%= f.text_area :message %>
  <br>
  <%= f.submit %>
  <% end %>
  </div>


<% end %>
</div>
