<%= form_for @user, :html => {:multipart => true} do |f|%>

<% if @user.errors.any? %>
<p> you have encountered an issue: </p>
<ul>
  <% @user.errors.full_messages.each do |e| %>
  <li>
    <%= e %>
  </li>
  <% end %>
</ul>
<% end %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :email %>
<%= f.email_field :email %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation, :value => "confirm password" %>
<%= f.password_field :password_confirmation %>

<%= f.label :location %>
<%= f.text_field :location %>

<%= f.label :bio %>
<%= f.text_area :bio %>

<%= f.label :image %>
<%= f.cl_image_upload :image %>

<br>
<%= f.submit %>
<% end %>
