<h2>welcome <%= @user.name %></h2>

<h3>here's your account information</h3>
<p>
  You have <%= @user.things.count %> listings <br>
  <%= @user.things.where(act:'need').count %> - Needs <br>
  <%= @user.things.where(act:'offer').count %> - Offers <br>
  <br>
  <%# i dont think this is the best way to show total messages - do in loop? %>
  <%# You have <%= @current_user.things.messages.count %><%# messages. %>
</p>
<h3>your listings</h3>
<p>
  <ul>
    <% @user.things.each do |t| %>
    <% totalmessages = nil %>
      <% if t.user_id == @current_user.id %>
      <li>
        <%= link_to "#{t.act} - #{t.name}: #{t.messages.count}msgs", thing_path(t.id) %>
      </li>
      <% end %>
    <% end %>
  </ul>
</p>
<%= link_to 'delete account', user_path( @current_user.id ), method: 'delete' %>
<%= link_to 'edit account', edit_user_path( @current_user.id ) %>
