<h2>welcome <%= @user.name %></h2>

<h3>here's your account information</h3>
<p>
  You have <%= @user.things.count %> listings <br>
  <%= @user.things.where(act:'need').count %> - Needs <br>
  <%= @user.things.where(act:'offer').count %> - Offers <br>
  <br>
  You have <%= @current_user.messages.count %> messages.
</p>
<h3>your listings</h3>
<p>
  <ul>
    <% @user.things.each do |t| %>
      <% if t.user_id == @current_user.id %>
      <li>
        <%= link_to "#{t.act} - #{t.name} - #{t.quantity} - #{t.user.name}", thing_path(t.id) %>
      </li>
      <% end %>
    <% end %>
  </ul>
</p>
<%= link_to 'delete account', user_path( @current_user.id ), method: 'delete' %>
<%= link_to 'edit account', edit_user_path( @current_user.id ) %>
