<!DOCTYPE html>
<html>
  <head>
    <title>Pif</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <h1>pif - pay it forward</h1>
      <nav>
        links
      </nav>
    </header>



    <%= yield %>

    <footer>
      <p>
        &copy; timmy hobson 2020
      </p>
    </footer>

  </body>
</html>
