<!DOCTYPE html>
<html>
  <head>
    <title>payitforward---></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </head>


  <body>
  <div id="container">
    <div id="header">
      <header>
        <div id="logo">
          <h1>payitforward</h1>
        </div>
        <div id="navbarButtons">
        <nav>
          <% if @current_user.present? %>
            Welcome, <%= @current_user.name %>
            <%= link_to new_thing_path do %>
            <div id="navButtons">
            create listing
            </div>
            <% end %>
            <%= link_to things_path do %>
            <div id="navButtons">
            browse listings
            </div>
            <% end %>
            <%= link_to messages_path do %>
            <div id="navButtons">
            my listings
            </div>
            <% end %>
            <%= link_to user_path( @current_user.id ) do %>
            <div id="navButtons">
            my account
            </div>
            <% end %>
            <%= link_to login_path, method: 'delete' do %>
            <div id="navButtons">
            logout
            </div>
            <% end %>
          <% else %>
            <%= link_to login_path do %>
            <div id="navButtons">
            login
            </div>
            <% end %>
            <%= link_to new_user_path do %>
            <div id="navButtons">
            signup
            </div>
            <% end %>
          <% end %>
        </nav>
      </div>
      </header>
    </div>
    <div id="wrapper">
    <div id="yield">
    <%= yield %>
    </div>
    </div>
  </div>
</body>
</html>
