<!DOCTYPE html>
<html>
  <head>
    <title>Pif</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <h1>pif - pay it forward</h1>
      <nav>
        <% if @current_user.present? %>
          Welcome, <%= @current_user.name %> (<%= @current_user.id %>)
          <%= link_to 'list new item', new_thing_path %>
          <%= link_to 'browse listings', things_path %>
          <%= link_to 'user account', user_path( @current_user.id ) %>
          <%= link_to 'my messages', messages_path %>
          <%= link_to 'logout', login_path, method: 'delete' %>
        <% else %>
          <%= link_to 'login', login_path %>
          <%= link_to 'signup', new_user_path %>
        <% end %>
      </nav>
    </header>



    <%= yield %>

    <footer>
      <p>
        &copy; timmy hobson 2020
      </p>
    </footer>

  </body>
</html>
